<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Accountant payslip editing</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/own.css}" />

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg nav-green static-top" >
    <div class="container">
        <img src="/img/Logo.png" alt="Logo" style="max-width: 100px; max-height: 100px;">
        <a class="navbar-brand"  href="/">Oceanarium Warszawskie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active ">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:black;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
                <form id="LogOutForm" method="post" th:action="@{/index}">
                    <button class="btn btn-secondary" style="background-color:#f8f8ff; border-color:#f8f8ff; color:black" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się
                    </button>
                </form>
            </ul>
        </div>
    </div>
</nav>


<div align="center">
    <h1>Wprowadź nowe dane wynagrodzenia</h1>
    <br/>

    <form action="#" th:action="@{/main_accountant/update}" th:object="${wynagrodzenie}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id_wynagrodzenia}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Data zakwitowania:</td>
                <td><input type="date" th:field="*{data_zakwitowania}"></td>
            </tr>
            <tr>
                <td>Pensja podstawowa:</td>
                <td><input type="text" th:field="*{pensja_podstawowa}"></td>
            </tr>
            <tr>
                <td>Premia:</td>
                <td><input type="text" th:field="*{premia}"></td>
            </tr>
            <tr>
                <td>ID Pracownika:</td>
                <td><input type="text" th:field="*{id_pracownika}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>


</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>