<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ticket creator</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/css/own.css}" />

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg nav-user static-top" >
    <div class="container">
        <img src="/img/Logo.png" alt="Logo" style="max-width: 100px; max-height: 100px;">
        <a class="navbar-brand"  href="/">Oceanarium Warszawskie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active ">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:black;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
                <form id="LogOutForm" method="post" th:action="@{/index}">
                    <button th:align="center" class="btn btn-primary" style="background-color:#f8f8ff; border-color:#f8f8ff; color:black" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się
                    </button>
                </form>
            </ul>
        </div>
    </div>
</nav>


<div align="center">
    <h1>Skonfiguruj bilet</h1>
    <br/>

    <form action="#" th:action="@{/main_user/save}" th:object="${konfigurator}" method="post" oninput="updateTotal()">
        <table class="table-container" border="1" cellpadding="10" style="background: rgba(255,255,255,0.5)">
            <tr>
                <td>Data planowego wejścia (Bilet jest ważny 30 dni od tej daty):</td>
                <td><input id="date1" type="date" th:field="*{data_wejscia}" required></td>
            </tr>
            <tr>
                <td>Ilość biletów normalnych (100 zł):</td>
                <td><input type="number" th:field="*{ilosc_normal}" min="0"></td>
            </tr>
            <tr>
                <td>Ilość biletów ulgowych (50 zł):</td>
                <td><input type="number" th:field="*{ilosc_ulg}" min="0"></td>
            </tr>
            <tr>
                <td colspan="2">Do zapłaty: <span id="totalPrice">0 zł</span></td>
            </tr>
            <tr>
                <td colspan="2" style="justify-content: center"><button class="btn btn-primary" type="submit">Zapłać</button></td>
            </tr>
        </table>
    </form>


</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/logout.js}"></script>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date1").setAttribute("min", today);
    function updateTotal() {
        var normalPrice = 100;
        var reducedPrice = 50;

        var normalQuantity = parseInt(document.getElementById('ilosc_normal').value) || 0;
        var reducedQuantity = parseInt(document.getElementById('ilosc_ulg').value) || 0;

        var totalPrice = normalQuantity * normalPrice + reducedQuantity * reducedPrice;

        document.getElementById('totalPrice').textContent = totalPrice + ' zł';
    }
</script>

<style>
    body {
        background: rgb(100, 100, 100) url('/img/bg.webp') no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: lighten;
    }
</style>

</body>
</html>